@model HouseDataFacade.HouseData
<!DOCTYPE html>
<html ng-app="HouseStats" ng-controller="GetHouseController">
<head>
    <title>House Data</title>
  
</head>
<body ng-controller="GetHouseController">
        <div id="products" style="width: 500px;">
            
        </div>
 </body>
</html>  
